name: Deploy to GitHub Pages

on:
  push:
    branches:
      - "main"

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.16

      - run: bun install

      - name: build
        env:
          BASE_PATH: /maestro/
        run: bun run build && cp .output/public/index.html .output/public/404.html
        # && rsync -a .output/public/ .output/public/${{ github.event.repository.name }}/

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: .output/public

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
